{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

    <header class="masthead" style="background: url('{% static 'images/bg.jpg' %}')">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Your Favourite Sneakers Place</h1>
                    <hr class="divider"/>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Sneakers Capital is a place for all Sneakers lovers to buy their
                        favourite sneakers with the best prices.</p>
                    <a class="btn btn-primary btn-xl" href="{% url 'shop' %}">Shop Now</a>
                </div>
            </div>
        </div>
    </header>


    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've got your favourite Sneakers!</h2>
                    <hr class="divider divider-light"/>
                    <p class="text-white-75 mb-4">At Sneakers Capital, we understand that sneakers are more than just
                        shoes - they're a form of self-expression and a way to make a statement. That's why we offer a
                        wide variety of styles and colorways to fit any taste or occasion. Whether you're looking for
                        classic retro sneakers or the latest limited edition drops, we've got you covered.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}